In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#format for floats
pd.options.display.float_format = '{:,.2f}'.format

In [31]:
df0 = pd.read_csv('../Neueda2023/Datasets/2010.csv')
df1 = pd.read_csv('../Neueda2023/Datasets/2011.csv')
df2 = pd.read_csv('../Neueda2023/Datasets/2012.csv')
df3 = pd.read_csv('../Neueda2023/Datasets/2013.csv')
df4 = pd.read_csv('../Neueda2023/Datasets/2014.csv')
df5 = pd.read_csv('../Neueda2023/Datasets/2015.csv')
df6 = pd.read_csv('../Neueda2023/Datasets/2016.csv')

In [32]:
df_combined = pd.concat([df0, df1, df2, df3, df4, df5, df6])

In [33]:
df_combined.groupby(['Year', 'State']).mean()

                    Days with AQI  Good Days  Moderate Days  \
Year State
2010 Alabama               282.26     164.89         113.05
     Alaska                262.12     222.00          35.00
     Arizona               309.54     199.08         102.23
     Arkansas              208.24     138.53          67.35
     California            350.40     221.94         102.34
...                           ...        ...            ...
2016 Virginia              254.85     227.79          25.97
     Washington            348.76     317.45          30.34
     West Virginia         272.57     237.79          34.07
     Wisconsin             282.93     243.26          35.85
     Wyoming               329.39     286.22          42.94

                    Unhealthy for Sensitive Groups Days  Unhealthy Days  \
Year State
2010 Alabama                                       4.00            0.32
     Alaska                                        4.12            1.00
     Arizona                                       7.92            0.15
     Arkansas                                      2.24            0.12
     California                                   19.89            5.32
...                                                 ...             ...
2016 Virginia                                      1.09            0.00
     Washington                                    0.79            0.17
     West Virginia                                 0.71            0.00
     Wisconsin                                     3.56            0.26
     Wyoming                                       0.17            0.06

                    Very Unhealthy Days  Hazardous Days  Max AQI  \
Year State
2010 Alabama                       0.00            0.00   112.26
     Alaska                        0.00            0.00    88.50
     Arizona                       0.00            0.15   233.46
     Arkansas                      0.00            0.00   100.00
     California                    0.47            0.43   305.60
...                                 ...             ...      ...
2016 Virginia                      0.00            0.00    91.26
     Washington                    0.00            0.00    88.17
     West Virginia                 0.00            0.00    95.86
     Wisconsin                     0.00            0.00   118.59
     Wyoming                       0.00            0.00    94.78

                    90th Percentile AQI  Median AQI  Days CO  Days NO2  \
Year State
2010 Alabama                      70.32       46.16     0.05      0.00
     Alaska                       44.88       19.75     2.38      0.00
     Arizona                      70.38       42.92     0.00      5.62
     Arkansas                     63.94       43.71     0.00      2.94
     California                   80.60       45.30     0.15      8.91
...                                 ...         ...      ...       ...
2016 Virginia                     45.88       30.03     1.21     31.09
     Washington                   44.24       24.10     0.03      4.03
     West Virginia                52.57       35.43     4.93      0.00
     Wisconsin                    57.56       35.96     0.00      1.33
     Wyoming                      51.06       37.28     0.00      1.78

                    Days Ozone  Days PM2.5  Days PM10
Year State
2010 Alabama            131.05      142.26       8.89
     Alaska              59.38      191.00       9.38
     Arizona            191.23       22.77      89.92
     Arkansas           110.35       94.94       0.00
     California         222.55      105.94      12.85
...                        ...         ...        ...
2016 Virginia           139.97       71.71      10.88
     Washington          53.34      287.45       3.90
     West Virginia      160.50       83.21      23.93
     Wisconsin          195.41       85.89       0.30
     Wyoming            267.06       16.06      44.50

[378 rows x 15 columns]

In [8]:
!pip install pyxlsb

/Users/fannyli/opt/anaconda3/lib/python3.8/site-packages/cryptography/hazmat/backends/openssl/x509.py:14: CryptographyDeprecationWarning: This version of cryptography contains a temporary pyOpenSSL fallback path. Upgrade pyOpenSSL now.
  warnings.warn(
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

In [11]:
df_ev = pd.read_excel("./Datasets/vehicle.xlsb")
df_ev

,Light Duty Vehicle Inventory by City and County,Unnamed: 1,Unnamed: 2
0,Dataset Completed: 9/30/2019,NaN,NaN
1,This light-duty vehicle inventory dataset prov...,NaN,NaN
2,NaN,NaN,NaN
3,Variable,Variable Descriptions,Applicable Data Sources
4,state_id,US Census identification for the state,NaN
5,state_abbr,State abbreviation,NaN
6,city_id,US Census identification for the city based on...,NaN
7,city_name,City name. Cities are generally defined as inc...,NaN
8,county_id,US Census identification for the county based ...,NaN
9,county_name,County name.,NaN
10,fuel_type,"Vehicle fuel type such as gasoline, diesel, me...",RL Polk & Company: Counts of Light Duty Vehicl...
11,class,"Vehicle class. Cars include sedans, wagons, mi...",NaN
12,Percentage of vehicles in jurisdiction,"Percentage of vehicles for each model year, li...",NaN
13,weight/fuel economy,Intermediary value used to calculate average f...,US Environmental Protection Agency: Combined H...
14,NaN,NaN,NaN
15,Authors,NaN,NaN
16,"Dylan Hettinger, National Renewable Energy Lab...",NaN,NaN
17,"Ookie Ma, U.S. Department of Energy",NaN,NaN
18,NaN,NaN,NaN
19,NaN,NaN,NaN
20,Acknowledgments,NaN,NaN
21,This work was authored in partÂ by the National...,NaN,NaN