In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#format for floats
pd.options.display.float_format = '{:,.8f}'.format

In [51]:
df0 = pd.read_csv('../Neueda2023/Datasets/2010.csv')
df1 = pd.read_csv('../Neueda2023/Datasets/2011.csv')
df2 = pd.read_csv('../Neueda2023/Datasets/2012.csv')
df3 = pd.read_csv('../Neueda2023/Datasets/2013.csv')
df4 = pd.read_csv('../Neueda2023/Datasets/2014.csv')
df5 = pd.read_csv('../Neueda2023/Datasets/2015.csv')
df6 = pd.read_csv('../Neueda2023/Datasets/2016.csv')

In [52]:
df_combined = pd.concat([df0, df1, df2, df3, df4, df5, df6])

In [53]:
!pip install pyxlsb

Requirement already satisfied: pyxlsb in /Users/fannyli/opt/anaconda3/lib/python3.8/site-packages (1.0.10)

In [85]:
df_ev = pd.read_excel("./Datasets/vehicle.xlsb", sheet_name="County", engine="pyxlsb", header=1)
df_ev

,state_abbr,geoid,county_id,county_name,fuel_type_org,fuel_type,class,before 1980,1980-99,1990-99,...,2009.1,2010.1,2011.1,2012.1,2013.1,2014.1,2015.1,2016.1,2017.1,2018.1
0,AL,1001,1001,Autauga,BI,Other/Unknown,Car,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,1001,1001,Autauga,BI,Other/Unknown,Truck,NaN,NaN,0.00001904,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,1001,1001,Autauga,DIES,Diesel vehicle,Car,NaN,0.00019045,0.00003809,...,0.00000571,0.00000000,0.00000950,0.00000728,0.00000867,0.00001158,0.00000502,NaN,NaN,NaN
3,AL,1001,1001,Autauga,DIES,Diesel vehicle,Truck,NaN,0.00114268,0.00544679,...,0.00000000,0.00000000,0.00005713,0.00005112,0.00000000,0.00002943,0.00007849,0.00007428,0.00000000,NaN
4,AL,1001,1001,Autauga,DIES,Diesel vehicle,Unknown,0.00020949,0.00001904,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50810,WY,56045,56045,Weston,GAS,Gasoline vehicle,Unknown,0.04801597,0.00316976,0.00093919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50811,WY,56045,56045,Weston,HYBRID ELECTRIC VEHICLE,Hybrid electric vehicle,Car,NaN,NaN,NaN,...,0.00000000,0.00000000,0.00000000,0.00000267,0.00001526,0.00000787,0.00000286,0.00000000,0.00000000,NaN
50812,WY,56045,56045,Weston,HYBRID ELECTRIC VEHICLE,Hybrid electric vehicle,Truck,NaN,NaN,NaN,...,NaN,NaN,0.00000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50813,WY,56045,56045,Weston,PLUG IN HYBRID ELECTRIC VEHICLE,Plug-in hybrid electric vehicle,Car,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00000000,NaN,NaN,0.00000000,NaN,NaN
50814,WY,56045,56045,Weston,UNK,Other/Unknown,Unknown,0.00692651,0.00117398,0.00000000,...,0.00000000,NaN,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,NaN,NaN

In [86]:
df_ev = df_ev.iloc[:, [0, 4, 42, 43, 44, 45, 46, 47, 48]]

In [116]:
df_ev = df_ev.fillna(0)

In [135]:
df_ev2 = df_ev.loc[df_ev['fuel_type_org'].isin(['ELECTRIC VEHICLE', 'HYBRID ELECTRIC VEHICLE', 'PLUG IN HYBRID ELECTRIC VEHICLE'])]
df_ev2

,state_abbr,fuel_type_org,2010.1,2011.1,2012.1,2013.1,2014.1,2015.1,2016.1
5,AL,ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000000,0.00000000,0.00000041,0.00000017,0.00000000
12,AL,HYBRID ELECTRIC VEHICLE,0.00000000,0.00000000,0.00001350,0.00002048,0.00001111,0.00001100,0.00000572
13,AL,HYBRID ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000
14,AL,PLUG IN HYBRID ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000090,0.00000000,0.00000000,0.00000051,0.00000000
24,AL,ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000029,0.00000028,0.00000043,0.00000050,0.00000000
...,...,...,...,...,...,...,...,...,...
50797,WY,PLUG IN HYBRID ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000287,0.00000000,0.00000000,0.00000000,0.00000000
50804,WY,ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000
50811,WY,HYBRID ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000267,0.00001526,0.00000787,0.00000286,0.00000000
50812,WY,HYBRID ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000
50813,WY,PLUG IN HYBRID ELECTRIC VEHICLE,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000

In [138]:
df_ev2 = df_ev2.groupby(['state_abbr']).sum()
df_ev2

,2010.1,2011.1,2012.1,2013.1,2014.1,2015.1,2016.1
state_abbr,,,,,,,
AK,0.00000000,0.00000000,0.00019404,0.00027505,0.00025085,0.00017206,0.00006107
AL,0.00000000,0.00015002,0.00085413,0.00092157,0.00069111,0.00064005,0.00041681
AR,0.00000000,0.00006496,0.00112876,0.00119191,0.00085840,0.00064756,0.00047690
AZ,0.00000000,0.00016319,0.00032641,0.00040572,0.00031892,0.00028002,0.00022568
CA,0.00000000,0.00256345,0.00309986,0.00460644,0.00386524,0.00424358,0.00328113
CO,0.00000000,0.00000000,0.00115534,0.00155333,0.00111488,0.00100616,0.00076280
CT,0.00000000,0.00009916,0.00026826,0.00031857,0.00027650,0.00020336,0.00020366
DC,0.00000000,0.00010189,0.00007690,0.00009504,0.00007977,0.00007863,0.00005972
DE,0.00000000,0.00000000,0.00010559,0.00014323,0.00010340,0.00009218,0.00008725
FL,0.00000000,0.00090889,0.00212659,0.00255193,0.00197373,0.00200110,0.00131382
GA,0.00000000,0.00075968,0.00274652,0.00348276,0.00244166,0.00257949,0.00123397
HI,0.00000000,0.00007411,0.00016170,0.00021718,0.00017082,0.00020017,0.00010641
IA,0.00000000,0.00000000,0.00154959,0.00201172,0.00142446,0.00126321,0.00086941
ID,0.00000000,0.00007255,0.00060524,0.00076656,0.00061546,0.00053856,0.00043849
IL,0.00000000,0.00028123,0.00232872,0.00277773,0.00214423,0.00177901,0.00127594
IN,0.00000000,0.00006967,0.00183698,0.00234529,0.00171645,0.00132931,0.00092680
KS,0.00000000,0.00006349,0.00132142,0.00189083,0.00126204,0.00094588,0.00050735
KY,0.00000000,0.00012092,0.00174139,0.00217760,0.00153116,0.00120872,0.00078576
LA,0.00000000,0.00009800,0.00060754,0.00072400,0.00056961,0.00051117,0.00022395
MA,0.00000000,0.00018728,0.00065217,0.00071627,0.00063670,0.00049212,0.00045850
MD,0.00000000,0.00040225,0.00092039,0.00109402,0.00080593,0.00072805,0.00060932
ME,0.00000000,0.00000000,0.00054787,0.00053924,0.00041797,0.00039520,0.00030891
MI,0.00000000,0.00009856,0.00127604,0.00189899,0.00128964,0.00108871,0.00090813
MN,0.00000000,0.00004949,0.00139002,0.00168334,0.00122681,0.00093308,0.00073231
MO,0.00000000,0.00007057,0.00179318,0.00237205,0.00156849,0.00136784,0.00103057
MS,0.00000000,0.00012903,0.00077997,0.00100425,0.00064883,0.00051050,0.00029122
MT,0.00000000,0.00003027,0.00051531,0.00060100,0.00048239,0.00069041,0.00029353
NC,0.00000000,0.00067462,0.00259990,0.00323523,0.00217596,0.00205540,0.00133408
ND,0.00000000,0.00000000,0.00038147,0.00041214,0.00034617,0.00035551,0.00021001
NE,0.00000000,0.00000000,0.00077188,0.00110244,0.00084368,0.00070180,0.00032848
NH,0.00000000,0.00000000,0.00038482,0.00044550,0.00034868,0.00029800,0.00028650
NJ,0.00000000,0.00056177,0.00060166,0.00075184,0.00068980,0.00058581,0.00062367
NM,0.00000000,0.00009201,0.00065057,0.00076104,0.00055780,0.00050987,0.00030427
NV,0.00000000,0.00004298,0.00029637,0.00036458,0.00034324,0.00029443,0.00021016
NY,0.00000000,0.00049965,0.00187773,0.00215879,0.00191660,0.00165668,0.00147569
OH,0.00000000,0.00038634,0.00154473,0.00199493,0.00157784,0.00133224,0.00101588
OK,0.00000000,0.00007229,0.00099846,0.00125640,0.00092741,0.00067480,0.00042225
OR,0.00000000,0.00000000,0.00124446,0.00152849,0.00122349,0.00114887,0.00090317
PA,0.00000000,0.00037436,0.00127059,0.00160461,0.00124380,0.00107943,0.00092027
RI,0.00000000,0.00000000,0.00020058,0.00021622,0.00018073,0.00016448,0.00013795
SC,0.00000000,0.00021067,0.00085883,0.00099677,0.00072630,0.00066178,0.00039279
SD,0.00000000,0.00005081,0.00053829,0.00077520,0.00051948,0.00043983,0.00034782
TN,0.00000000,0.00015682,0.00160241,0.00176986,0.00137944,0.00117896,0.00073557
TX,0.00000000,0.00056658,0.00372266,0.00460973,0.00341108,0.00308123,0.00182615
UT,0.00000000,0.00000000,0.00058810,0.00072261,0.00053434,0.00045073,0.00036618
VA,0.00000000,0.00098978,0.00376995,0.00440638,0.00288214,0.00254827,0.00208022
VT,0.00000000,0.00000000,0.00058100,0.00063985,0.00060986,0.00058501,0.00060890
WA,0.00000000,0.00027471,0.00135085,0.00169402,0.00125814,0.00114454,0.00097712
WI,0.00000000,0.00018848,0.00160292,0.00193680,0.00143896,0.00115279,0.00095506
WV,0.00000000,0.00000000,0.00067466,0.00083984,0.00061367,0.00050321,0.00041507
WY,0.00000000,0.00000000,0.00029150,0.00034778,0.00026344,0.00022092,0.00015999

In [146]:
df_ev2 = df_ev2.unstack(level=0)

df_ev2

        state_abbr
2010.1  AK           0.00000000
        AL           0.00000000
        AR           0.00000000
        AZ           0.00000000
        CA           0.00000000
                        ...
2016.1  VT           0.00060890
        WA           0.00097712
        WI           0.00095506
        WV           0.00041507
        WY           0.00015999
Length: 357, dtype: float64

In [ ]:
pd.melt(df, id_vars =['state_abbr'], value_vars =[''])

In [7]:
state_codes = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY"
}

In [8]:
df_combined["State"] = df_combined["State"].map(state_codes)

In [11]:
df_combined

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,AL,Baldwin,2010,274,188,80,6,0,0,0,150,71,43,0,0,192,82,0
1,AL,Clay,2010,113,79,34,0,0,0,0,86,60,42,0,0,0,113,0
2,AL,Colbert,2010,355,208,146,1,0,0,0,105,67,47,0,0,114,241,0
3,AL,DeKalb,2010,358,248,106,4,0,0,0,101,74,43,0,0,303,55,0
4,AL,Elmore,2010,241,181,55,5,0,0,0,112,71,43,0,0,241,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,WY,Sublette,2016,366,297,68,1,0,0,0,102,61,44,0,0,351,15,0
1026,WY,Sweetwater,2016,366,304,62,0,0,0,0,100,58,44,0,0,327,4,35
1027,WY,Teton,2016,366,331,35,0,0,0,0,99,50,41,0,0,351,15,0
1028,WY,Uinta,2016,366,341,25,0,0,0,0,87,49,42,0,0,359,0,7
1029,WY,Weston,2016,357,316,41,0,0,0,0,80,51,41,0,0,351,6,0

In [14]:
df_combined = df_combined.drop("County", axis="columns")

In [15]:
df_combined.groupby(['Year', 'State']).mean()

            Days with AQI  Good Days  Moderate Days  \
Year State
2010 AK            262.12     222.00          35.00
     AL            282.26     164.89         113.05
     AR            208.24     138.53          67.35
     AZ            309.54     199.08         102.23
     CA            350.40     221.94         102.34
...                   ...        ...            ...
2016 VT            301.50     279.75          21.50
     WA            348.76     317.45          30.34
     WI            282.93     243.26          35.85
     WV            272.57     237.79          34.07
     WY            329.39     286.22          42.94

            Unhealthy for Sensitive Groups Days  Unhealthy Days  \
Year State
2010 AK                                    4.12            1.00
     AL                                    4.00            0.32
     AR                                    2.24            0.12
     AZ                                    7.92            0.15
     CA                                   19.89            5.32
...                                         ...             ...
2016 VT                                    0.25            0.00
     WA                                    0.79            0.17
     WI                                    3.56            0.26
     WV                                    0.71            0.00
     WY                                    0.17            0.06

            Very Unhealthy Days  Hazardous Days  Max AQI  90th Percentile AQI  \
Year State
2010 AK                    0.00            0.00    88.50                44.88
     AL                    0.00            0.00   112.26                70.32
     AR                    0.00            0.00   100.00                63.94
     AZ                    0.00            0.15   233.46                70.38
     CA                    0.47            0.43   305.60                80.60
...                         ...             ...      ...                  ...
2016 VT                    0.00            0.00    83.00                42.75
     WA                    0.00            0.00    88.17                44.24
     WI                    0.00            0.00   118.59                57.56
     WV                    0.00            0.00    95.86                52.57
     WY                    0.00            0.00    94.78                51.06

            Median AQI  Days CO  Days NO2  Days Ozone  Days PM2.5  Days PM10
Year State
2010 AK          19.75     2.38      0.00       59.38      191.00       9.38
     AL          46.16     0.05      0.00      131.05      142.26       8.89
     AR          43.71     0.00      2.94      110.35       94.94       0.00
     AZ          42.92     0.00      5.62      191.23       22.77      89.92
     CA          45.30     0.15      8.91      222.55      105.94      12.85
...                ...      ...       ...         ...         ...        ...
2016 VT          29.00     0.00      3.00      217.00       81.50       0.00
     WA          24.10     0.03      4.03       53.34      287.45       3.90
     WI          35.96     0.00      1.33      195.41       85.89       0.30
     WV          35.43     4.93      0.00      160.50       83.21      23.93
     WY          37.28     0.00      1.78      267.06       16.06      44.50

[350 rows x 15 columns]